<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Art Decoder/ Encoder</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <header class="header">
        <h1>Art Decoder/ Encoder</h1>
    </header>

    <main>
        <form action="/processor" method="POST">
            <input type ="radio" id="decoder" name="mode" value="decode" {{if eq .Mode "decode"}}checked{{end}}>
            <label for="decoder">Decoder</label><br>
            <input type ="radio" id="encoder" name="mode" value="encode" {{if eq .Mode "encode"}}checked{{end}}>
            <label for="encoder">Encoder</label>
            <input type="number" id="max-pattern" name="max-pattern" min="1" max="10" value="{{.MaxPattern}}" placeholder="3">
            <label for="max-pattern">Max Pattern</label><br><br>
            <textarea name="input" rows="20" cols="100">{{.Input}}</textarea>

            <br><br>

            <button type="submit">Generate</button>

        </form>

        <hr>

        {{if .Error}}
        <p style="color: red;">{{.Error}}</p>
        {{end}}


        {{if .Result}}
        <pre>{{.Result}}</pre>
        {{end}}

    </main>
    <footer>
        <p>Built with ❤️ using HTML & CSS by Hang.</p>
    </footer>

</body>
</html>